# 2

- Enumerate the ships list using a for loop and the enumerate() function.
- For each iteration of the loop:
  - Print the item from ships at the current index.
  - Print the item from cars at the current index.

In [2]:
ships = ["Andrea Doria", "Titanic", "Lusitania"]
cars = ["Ford Edsel", "Ford Pinto", "Yugo"]

for i, ship in enumerate(ships):
    print(ship)
    print(cars[i])

Andrea Doria
Ford Edsel
Titanic
Ford Pinto
Lusitania
Yugo

# 3

- Loop through each row in things using the enumerate() function.
- Append the item in trees that has the same index (as the current thing) to the end of each row in things.
- After the code runs, things should have an extra column.

In [6]:
things = [["apple", "monkey"], ["orange", "dog"], ["banana", "cat"]]
trees = ["cedar", "maple", "fig"]

for i, thing in enumerate(things):
    thing.append(trees[i])

# 4

- Use list comprehension to create a new list called apple_prices_doubled, where you multiply each item in apple_prices by 2.
- Use list comprehension to create a new list called apple_prices_lowered, where you subtract 100 from each item in apple_prices.

In [18]:
apple_prices = [100, 101, 102, 105]

apple_prices_doubled = [i * 2 for i in apple_prices]
# apple_prices_lowered = [item - apple_prices[i] for i, item in enumerate(apple_prices_doubled)]
apple_prices_lowered = [item - 100 for i, item in enumerate(apple_prices)]

In [19]:
apple_prices_doubled

[200, 202, 204, 210]

In [20]:
apple_prices_lowered

[0, 1, 2, 5]

# 5

- Create an empty dictionary called name_counts.
- Loop through each row in legislators.
- If the gender column of the row equals F and the year column is greater than 1940:
  - Assign the first_name column of the row to the variable name.
  - If name is in name_counts:
    - Add 1 to the value associated with name in name_counts.
  - If name isn't in name_counts:
    - Set the value associated with name in name_counts to 1.
- When the loop finishes, name_counts should contain each unique name in the first_name column of legislators as a key, and the corresponding number of times it appeared as the value.

In [23]:
import csv

legislators = list(csv.reader(file("legislators.csv")))

In [24]:
legislators[:3]

[['last_name', 'first_name', 'birthday', 'gender', 'type', 'state', 'party'],
 ['Bassett', 'Richard', '1745-04-02', 'M', 'sen', 'DE', 'Anti-Administration'],
 ['Bland', 'Theodorick', '1742-03-21', '', 'rep', 'VA', '']]

In [34]:
name_counts = {}

for row in legislators:
    yearComponents = row[2].split('-')
    intYear = 0

    try:
        intYear = int(yearComponents[0])
    except Exception as exp:
        intYear = 0

    if((row[3] == 'F') and (intYear > 1940)):
        key = row[1]

        if(name_counts.get(key) is None):
            name_counts[key] = 1
        else:
            name_counts[key] = name_counts.get(key) + 1

print(name_counts)

{'Sue': 1, 'Laura': 1, 'Heather': 1, 'Kathleen': 2, 'Mary Jo': 1, 'Nan': 1, 'Betsy': 1, 'Melissa': 2, 'Jane': 1, 'Anne': 1, 'Thelma': 1, 'Mary': 2, 'Deborah': 2, 'Blanche': 1, 'Barbara': 1, 'Virginia': 1, 'Hilda': 1, 'Hillary': 1, 'Katherine': 1, 'Kay': 1, 'Marilyn': 1, 'Lynn': 1, 'Jean': 1, 'Sandy': 1, 'Betty': 1, 'Nancy': 1, 'Jo Ann': 2, 'Stephanie': 2, 'Olympia': 1, 'Suzanne': 1, 'Carolyn': 1, 'Ann Marie': 1, 'Cynthia': 1, 'Jennifer': 1, 'Denise': 1, 'Karen': 2, 'Gabrielle': 1, 'Shelley': 2, 'Enid': 1, 'Ellen': 1}

# 7

- Loop through each value in values.
- Check whether the value is not None, and if it's greater than 30.
- Append the result of the check to checks.
- When finished, checks should be a list of Booleans indicating whether or not the corresponding items in values are not None and greater than 30.

In [36]:
values = [None, 10, 20, 30, None, 50]
checks = []

for i in values:
    checks.append(i is not None and i > 30)

print(checks)

[False, False, False, False, False, True]

# 8

- Set max_value to None.
- Loop through the keys in name_counts.
- Assign the value associated with the key to count.
- If max_value is None, or count is greater than max_value:
  - Assign count to max_value.
- At the end of the loop, max_value will contain the largest value in name_counts.

In [39]:
max_value = None

for row in name_counts:
    count = name_counts[row]
    if(max_value is None or count > max_value):
        max_value = count

print(max_value)

2

# 9

- Use the items() method to iterate through the keys and values in plant_types.
- Print each key in plant_types.
- Print each value in plant_types.

In [40]:
plant_types = {"orchid": "flower", "cedar": "tree", "maple": "tree"}

for plant, type in plant_types.items():
    print(plant)
    print(type)

cedar
tree
maple
tree
orchid
flower

# 10

- Loop through the keys in name_counts.
- If any value in name_counts equals 2, append its key to top_female_names.
- When you're finished, top_female_names will be a list of the most common names of female legislators.

In [43]:
top_female_names = []
topCount = 2

for name in name_counts:
    if(name_counts[name] >= topCount):
        top_female_names.append(name)

print(top_female_names)

['Kathleen', 'Melissa', 'Mary', 'Deborah', 'Jo Ann', 'Stephanie', 'Karen', 'Shelley']

# 11

- Create a dictionary called male_name_counts.
- Loop through legislators.
  - Count how many times each name with "M" in the gender column and a birth year after 1940 occurs.
  - Store the results in male_name_counts.
- Find the highest value in male_name_counts and assign it to highest_male_count.
- Append any keys from male_name_counts with a value equal to highest_male_count to top_male_names.

In [47]:
top_male_names = []

name_male_counts = {}
maxMaleCount = None

for row in legislators:
    yearComponents = row[2].split('-')
    intYear = 0

    try:
        intYear = int(yearComponents[0])
    except Exception as exp:
        intYear = 0

    if((row[3] == 'M') and (intYear > 1940)):
        key = row[1]

        if(name_male_counts.get(key) is None):
            name_male_counts[key] = 1
        else:
            name_male_counts[key] = name_male_counts.get(key) + 1
            if(maxMaleCount is None or name_male_counts[key] > maxMaleCount):
                maxMaleCount = name_male_counts[key]

print(name_male_counts)

for key in name_male_counts:
    if(name_male_counts[key] == maxMaleCount):
        top_male_names.append(key)

{'Russell': 1, 'Jay': 1, 'Harry': 2, 'Daniel': 4, 'Kent': 1, 'Stephen': 1, 'Nicholas': 1, 'Zach': 1, 'Dan': 2, 'Steven': 3, 'Fred': 2, 'Jo': 1, 'Christopher': 6, 'Luis': 1, 'Philip': 2, 'Jim': 3, 'Thaddeus': 1, 'Bobby': 2, 'James': 31, 'Michael': 20, 'Calvin': 1, 'Gordon': 1, 'Henry': 2, 'R.': 1, 'Rodney': 1, 'Robin': 1, 'Todd': 2, 'Thomas': 18, 'Parker': 1, 'Kenny': 1, 'W.': 2, 'Jeff': 2, 'J.': 1, 'Wayne': 2, 'Vito': 1, 'Gary': 2, 'Allen': 2, 'Paul': 6, 'George': 6, 'Ray': 1, 'C.L.': 1, 'Elton': 1, 'Duncan': 1, 'Gerald': 2, 'Mark': 9, 'Barack': 1, 'Silvestre': 1, 'Joseph': 5, 'Rick': 4, 'Anh': 1, 'John': 35, 'Ken': 2, 'Mike': 2, 'Frank': 6, 'Samuel': 2, 'Geoff': 1, 'Alan': 1, 'William': 21, 'Jonas': 1, 'Joe': 4, 'Connie': 1, 'Chris': 2, 'Randall': 1, 'Jon': 3, 'Earl': 3, 'Bill': 2, 'Barton': 1, 'David': 24, 'Trey': 1, 'Trent': 1, 'Chester': 1, 'Ernest': 2, 'Bob': 9, 'Judd': 1, 'Dean': 1, 'Bart': 1, 'Ron': 3, 'Glenn': 1, 'Ed': 1, 'Chip': 1, 'Rod': 2, 'Rahm': 1, 'Ric': 1, 'Steve': 4, 'Travis': 1, 'H.': 1, 'Doug': 1, 'Russ': 1, 'Clifford': 1, 'Eric': 2, 'Victor': 3, 'Timothy': 3, 'Baron': 1, 'Robert': 24, 'Kendrick': 1, 'An\xc3\xadbal': 1, 'Jeb': 1, 'Tom': 2, 'Gilbert': 1, 'Ciro': 1, 'Harold': 3, 'Hansen': 1, 'C.': 1, 'Lawrence': 1, 'Howard': 1, 'Anthony': 3, 'Larry': 3, 'Carl': 1, 'Evan': 1, 'Lincoln': 3, 'Ben': 3, 'Patrick': 3, 'Phil': 2, 'Jerry': 1, 'Brad': 2, 'Jason': 1, 'Gene': 1, 'Kenneth': 1, 'Brian': 3, 'Ted': 1, 'Byron': 1, 'Virgil': 1, 'Carte': 1, 'Tony': 1, 'Peter': 9, 'Jesse': 1, 'Nathan': 1, 'Richard': 9, 'Lane': 1, 'Tim': 3, 'Edward': 3, 'Norm': 1, 'Walter': 3, 'Jeffrey': 1, 'Francisco': 1, 'Raymond': 2, 'Max': 3, 'Albert': 3, 'Jack': 1, 'Milton': 1, 'Zachary': 1, 'Don': 1, 'Artur': 1, 'Frederick': 2, 'Heath': 1, 'Greg': 1, 'Martin': 3, 'Melvin': 1, 'Lewis': 1, 'Charles': 17, 'Donald': 4, 'Scott': 3, 'Mel': 1, 'Dennis': 4, 'Adam': 1}

In [46]:
top_male_names

['John']